
.u34158 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}

.u34121 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}

.u35669 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u7754 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:56px;vertical-align: middle;text-align:center;}



.u35756 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37161 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:60px;vertical-align: middle;text-align:center;}


.u35766 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}


.u37183 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u35771 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37188 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37193 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u35781 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}


.u37234 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}


.u37229 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u35796 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37245 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}


.u37250 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u35801 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37210 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}



.u37268 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}

  
.u37218 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u34502 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8340 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u34507 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u9236 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9270 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9304 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u8482 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u34512 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8576 {color:#3BB2B8; font-size:50px;display: table-cell; width:60px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8620 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u34527 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8611 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u8743 {color:#3BB2B8; font-size:50px;display: table-cell; width:60px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u34552 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8803 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u34557 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u8865 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u8882 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u8856 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u8845 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u7832 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9401 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:56px;vertical-align: middle;text-align:center;}
   

  
.u9431 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9594 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9739 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9653 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u35577 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u9796 {color:#3BB2B8; font-size:50px;display: table-cell; width:60px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u35664 {color:#3BB2B8; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u9869 {color:#727270; font-size:50px;display: table-cell; width:50px;height:59px;vertical-align: middle;text-align:center;}
   

  
.u9877 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u20954 {color:#727270; font-size:50px;display: table-cell; width:50px;height:60px;vertical-align: middle;text-align:center;}
   

  
.u20956 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u21176 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}
   

  
.u21168 {color:#727270; font-size:50px;display: table-cell; width:50px;height:61px;vertical-align: middle;text-align:center;}

div.card {
    height: 390px;
    overflow-y: scroll;
    
}

div.container {
    padding: 5px;
}
.cardPlate {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s;
  transform-origin: center center;
}

.cardPlate:hover {
box-shadow: 0 14px 28px rgba(59,178,184,0.25), 0 10px 10px rgba(59,178,184,0.22);
transform: scale(1.05);
}
